services:
  gawk:
    build: .
    depends_on:
      - db
      - redis
    volumes:
      - "./:/app"
    environment:
      - PGHOST=db
      - PGUSER=postgres
      - PGPASSWORD=passw0rd
      - PGDATABASE=postgres

  db:
    image: mirror.gcr.io/library/postgres:17
    environment:
      - POSTGRES_PASSWORD=passw0rd
      - POSTGRES_USER=postgres

  redis:
    image: mirror.gcr.io/library/redis:7-alpine
